type pfmnceserver, domain;
type pfmnceserver_exec, exec_type, file_type;

init_daemon_domain(pfmnceserver)
typeattribute pfmnceserver mlstrustedsubject;

# Talk to init over the property socket.
unix_socket_connect(pfmnceserver, property, init)

# Perform Binder IPC.
binder_use(pfmnceserver)
binder_call(pfmnceserver, system)
binder_call(pfmnceserver, appdomain)
binder_service(pfmnceserver)
allow pfmnceserver init:binder transfer;

# Access performance related files
allow pfmnceserver cpuctl_device:dir search;
allow pfmnceserver cpuctl_device:chr_file rw_file_perms;

# Set properties.
allow pfmnceserver system_prop:property_service set;
allow pfmnceserver ctl_default_prop:property_service set;

# Use open files supplied by an app.
allow pfmnceserver appdomain:fd use;
allow pfmnceserver platform_app_data_file:file { read write };
allow pfmnceserver app_data_file:file { read write };

allow pfmnceserver kernel:system module_request
allow pfmnceserver self:capability { sys_module };
allow pfmnceserver system_file:file x_file_perms;
allow pfmnceserver system_file:file x_file_perms;
allow pfmnceserver shell_exec:file rx_file_perms;
allow pfmnceserver shell_exec:file rx_file_perms;
allow pfmnceserver pfmnceserver_exec:file rx_file_perms;
allow pfmnceserver pfmnceserver_exec:file rx_file_perms;
allow pfmnceserver property_socket:sock_file write; 