# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
    start ueventd
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive

on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    
    symlink /system/etc /etc

    mkdir /boot
    mkdir /sdcard
    mkdir /datadata
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /misc
    mkdir /config 0500 root root
    mount tmpfs tmpfs /tmp
    mount vfat /dev/block/actj /emmc

    write /sys/devices/virtual/bdi/179:0/read_ahead_kb 2048
    write /sys/devices/virtual/bdi/7:0/read_ahead_kb 2048
    write /sys/devices/virtual/bdi/93:0/read_ahead_kb 2048

	#usb
	write /sys/class/android_usb/android0/iSerial ${ro.serialno}
	
	# from init.gs702a.rc
on fs
    # insmod flash driver
    insmod /lib/modules/blk1drv.ko
    insmod /lib/modules/blk2drv.ko
    wait /dev/block/actc

    mount debugfs none /sys/kernel/debug

	# end from init.gs702a.rc

	# from init.modules.rc
on post-fs
    # pmic
    insmod /lib/modules/ctp_ft5x06.ko
    insmod /lib/modules/act_vibrate.ko
    insmod /lib/modules/atc260x_core.ko
    insmod /lib/modules/atc260x_dcdc.ko
    insmod /lib/modules/atc260x_ldo.ko
    insmod /lib/modules/atc260x_onoff.ko
    insmod /lib/modules/atc260x_adckeypad.ko
    insmod /lib/modules/atc260x_switch_ldo.ko
    insmod /lib/modules/atc260x_pm.ko
    insmod /lib/modules/atc260x_power.ko
    insmod /lib/modules/leopard_cpufreq.ko
    insmod /lib/modules/atc260x_rtc.ko
	#    hwclock -s

    # usb
    insmod /lib/modules/dwc3.ko
    insmod /lib/modules/dwc3-actions.ko
    insmod /lib/modules/g_android.ko
    insmod /lib/modules/acts_hcd.ko
    insmod /lib/modules/monitor.ko

    # display
    insmod /lib/modules/atv5202_de.ko

    # mmc
    insmod /lib/modules/mmc_core.ko
    insmod /lib/modules/mmc_block.ko
    insmod /lib/modules/atv5202_mmc.ko

    #sndrv
    insmod /lib/modules/atc260x_audio.ko
    insmod /lib/modules/sndrv.ko

    #vde_drv
    insmod /lib/modules/vde_drv.ko

    #vce_drv
    insmod /lib/modules/vce_drv.ko

    #mknod /dev/galcore c 199 0
    #insmod /lib/modules/galcore.ko

	# end from init.modules.rc

	# from init.extra_modules.rc
	#    write /sys/class/leds/led_charger/brightness 0

    insmod /lib/modules/atv5202_backlight.ko
    insmod /lib/modules/atv5202_lcd.ko
    insmod /lib/modules/atv5202_fb.ko
    insmod /lib/modules/atv5202_vout.ko
    insmod /lib/modules/gl5202_tvout.ko
    insmod /lib/modules/gl5202_hdmi.ko

	# end from init.extra_modules.rc

on boot
    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    setprop adb.recovery 1
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 0c01
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop service.adb.root 1

# In recovery, enable ums
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun1/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun1/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr
	
#on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 0c02
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
#    setprop sys.usb.state ${sys.usb.config}	

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
