# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
    insmod /lib/modules/blk1drv.ko
    insmod /lib/modules/quickboot.ko

    # Set init and its forked children's oom_adj.
    write /proc/1/oom_adj -16

    start ueventd

on fs
    # mount disks
    mkdir /misc
   
    mount vfat /dev/block/actb /misc ro wait noatime nodiratime umask=0022
    mount ext4 /dev/block/actc /system ro wait noatime nodiratime nosuid nodev noauto_da_alloc

on init

sysclktz 0

loglevel 3

# setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system

    
# Backward compatibility
    symlink /system/etc /etc

on post-fs-data
    # We chown/chmod /data again so because mount is run as root + defaults
    chmod 0666 /sys/power/resume

# set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40
    
    class_start core
    start quickboot

# Daemon processes to be run by init
service ueventd /sbin/ueventd
    class core
    critical

service console /system/bin/sh
    class core
    console

service quickboot /quickboot.sh BOOT &
    oneshot
    