
import init.mt6620.rc
import init.eth0.rc

on early-init
    # fixme: disable hotplug by now
    write /sys/devices/system/cpu/autoplug/lock 1

    # fixme: avoid suspend by now
    #write /sys/power/wake_lock 1

    # use legacy virtual memory layout for compatibility
    write /proc/sys/vm/legacy_va_layout 1

    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/usbdisk 0000 system system
    mkdir /mnt/media 0755 system system

    # for backwards compatibility
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard1 /sd-ext
    symlink /storage/sdcard1 /mnt/sd-ext
    symlink /storage/usbdisk /udisk
    symlink /storage/usbdisk /mnt/udisk
    #export ASEC_STORAGE /mnt/sdcard
    #export FLASH_STORAGE /mnt/sdcard
    #export TFCARD_STORAGE /mnt/sd-ext
    #export UHOST_STORAGE /mnt/uhost
    export MEDIA_STORAGE /mnt/media

    # insmod flash driver
    insmod /lib/modules/blk1drv.ko
    insmod /lib/modules/blk2drv.ko
    # mount disks
    mkdir /misc
    wait /dev/block/actb
    mount vfat /dev/block/actb /misc ro wait noatime nodiratime umask=0022
    # display
    insmod /misc/modules/atv5202_de.ko
    insmod /misc/modules/atv5202_backlight.ko
    insmod /misc/modules/atv5202_lcd.ko
    insmod /misc/modules/atv5202_fb.ko

on fs
    # mount disks	
    mount_all /fstab.gs702a

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.
    mount vfat /dev/block/actg /mnt/media ro wait noatime nodiratime umask=0022 utf8
    mount vfat /dev/block/acth /vendor/app ro wait noatime nodiratime umask=0022
    #mount vfat /dev/block/actf /data_bak rw wait nosuid 
    symlink /vendor/app/lib /vendor/lib
    
    mount debugfs none /sys/kernel/debug

on fs_selinux
    mount_all fstab.gs702a
    # SEPolicy Reload check should be done after mount data partition
    setprop selinux.reload_policy 1

on post-fs
    # pmic
    insmod /misc/modules/atc260x_onoff.ko
    insmod /misc/modules/atc260x_adckeypad.ko
    insmod /misc/modules/atc260x_power.ko
    insmod /misc/modules/atc260x_rtc.ko
#    hwclock -s
    # usb
    #insmod /misc/modules/dwc3.ko
    #insmod /misc/modules/dwc3-actions.ko
    insmod /misc/modules/dummy_udc.ko
    insmod /misc/modules/g_android.ko
    insmod /misc/modules/acts_hcd.ko
    insmod /misc/modules/monitor.ko
    #sndrv
    insmod /misc/modules/atc260x_audio.ko
    insmod /misc/modules/sndrv.ko
    #vde_drv
    insmod /misc/modules/vde_drv.ko
    #vce_drv
    insmod /misc/modules/vce_drv.ko
    insmod /misc/modules/galcore.ko
    # usb 2G/3G option
    insmod /misc/modules/usb_wwan.ko
    insmod /misc/modules/option.ko
    # mmc
    insmod /misc/modules/mmc_core.ko
    insmod /misc/modules/mmc_block.ko
    insmod /misc/modules/atv5202_mmc.ko
    #insmod /misc/modules/atv5202_mmc.ko sd1=1 use_mt5931=1  use_mt5931_mt6622=1
    #camera
    insmod /misc/modules/camera_hi253.ko
    insmod /misc/modules/camera_gc0308.ko
    insmod /misc/modules/camera_drv.ko    
    insmod /misc/modules/atv5202_vout.ko
    insmod /misc/modules/gl5202_tvout.ko
    insmod /misc/modules/gl5202_hdmi.ko
    # soft gauge
    insmod /misc/modules/atc260x_cap_gauge.ko  
    #tp
    #insmod /misc/modules/ctp_ft5x06_ts.ko
    insmod /misc/modules/ctp_ft5x06.ko
    #key
    #insmod /misc/modules/gl5202_matrixkey.ko
    #gsensor
    insmod /misc/modules/gsensor_mc3210.ko
    #vibrate
#    insmod /misc/modules/act_vibrate.ko

on charger    
    # pmic
    insmod /misc/modules/atc260x_onoff.ko
    insmod /misc/modules/atc260x_power.ko

on post-fs-data
#
    chmod 06755 /system/xbin/su
    symlink /system/xbin/su /system/bin/su
    
on boot
    chown system system /sys/class/backlight/act_pwm_backlight/brightness
    chmod 0666 /sys/class/backlight/act_pwm_backlight/brightness
    chown system system /sys/class/backlight/act_pwm_backlight/actual_brightness
    chmod 0666 /sys/class/backlight/act_pwm_backlight/actual_brightness
    chown system system /sys/class/backlight/act_pwm_backlight/auto_adjust
    chmod 0666 /sys/class/backlight/act_pwm_backlight/auto_adjust
    chown system system /sys/class/backlight/act_pwm_backlight/max_brightness
    chmod 0660 /sys/class/backlight/act_pwm_backlight/max_brightness
    chown system system /sys/class/backlight/act_pwm_backlight/min_brightness
    chmod 0660 /sys/class/backlight/act_pwm_backlight/min_brightness

on boot
    chown system system /sys/devices/system/cpu/autoplug/usr_lock
    chmod 0660 /sys/devices/system/cpu/autoplug/usr_lock
    chown system system /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online
    chown system system /sys/devices/system/cpu/cpu2/online
    chmod 0660 /sys/devices/system/cpu/cpu2/online
    chown system system /sys/devices/system/cpu/cpu3/online
    chmod 0660 /sys/devices/system/cpu/cpu3/online

    # add by mg
    write /data/data/ant_status on
    chmod 0666 /data/data/ant_status

    #cancel wipe-data after abnormal shutoff
	setprop persist.sys.shutok init

on boot
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}

on init
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/telephony-common.jar:/system/framework/mms-common.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/actions.jar

on init
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_rndis/manufacturer Actions-semi
    write /sys/class/android_usb/android0/f_rndis/vendorID 10d6
    write /sys/class/android_usb/android0/f_rndis/wceis 1

# Allow system service to execute quickboot cmd.
    chown system system /quickboot.sh


# update system time from rtc
service hwclock_update /system/xbin/busybox hwclock -s
    class core
    oneshot

service batteryservice /charger
    class charger
    oneshot

service cp_vendor /cp_vendor_app.sh  &
    class main
    oneshot
    
on charger
    # soft gauge
    insmod /misc/modules/atc260x_cap_gauge.ko
    # start charger
    class_start charger

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 4e41
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 4e42
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 4d01
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}


on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 4d02
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 4e43
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 4e44
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct fffe
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 0c02
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 10d6
    write /sys/class/android_usb/android0/idProduct 0c01
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
    
service usbmond /system/bin/usbmond
    class core
    user root
    group root shell
    ioprio be 2

on post-fs-data
mkdir /data/misc/wifi 0770 wifi wifi
mkdir /data/misc/wifi/sockets 0770 wifi wifi
mkdir /data/misc/dhcp 0770 dhcp dhcp
chown dhcp dhcp /data/misc/dhcp

#add for realtek wifi
service rtw_suppl_con /system/bin/wpa_supplicant \
    -ip2p0 -Dnl80211 -c /data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -N \
   -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service rtw_suppl /system/bin/wpa_supplicant -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_wlan0 dgram 660 wifi wifi
    class main
    disabled
    oneshot
    
service dhcpcd_wlan0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
