/dev/ttyS*                0666   root       root
/dev/ion                  0666   system     system
/dev/video*               0666   root       root
/dev/de                   0640   system     system
/dev/hdmi                 0640   system     system
/dev/cvbs                 0640   system     system
/dev/vce                  0666   root       root
/dev/stpwmt               0660   system     system
/dev/wmtWifi              0666   root       root
/dev/stpgps               0660   root       root
/dev/gps                  0666   root       root
/dev/bthwctl              0666   root       root
/dev/graphics/*           0666   root       graphics
/dev/ttyUSB*							0666   radio			radio
/dev/ttyUSB0							0666   radio			radio
/dev/ttyUSB1							0666   radio			radio
/dev/ttyUSB2							0666   radio			radio
/dev/ppp                  0666   radio      vpn
/dev/vde                  0666   root       root